<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <h1>LISTA DE USUARIOS</h1>
    <table border="2">
            <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>ACCIONES</th>
            </tr>
            <% user.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/edit/<%= user.id %>">Editar</a>
                    <a href="/delete/<%= user.id %>" onclick="return confirm('¿Estás seguro de eliminar este usuario?')";>Eliminar</a>
                </td>
            </tr>
            <% }); %>
    </table>

    <!-- AGREGAR USUARIO -->
    <h2>AGREGAR USUARIO</h2>
    <form action="/add" method="post">
        <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" required maxlength="45" placeholder="Nombre del usuario">
        <br><br>
        <label for="email">Correo:</label>
            <input type="email" name="email" id="email" placeholder="Correo" maxlength="45" required>
        <br><br>
        <button type="submit">AGREGAR</button>
    </form>


</body>
</html> 